<!-- templates/locations.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localizações - Rick & Morty</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Localizações</h1>
    
    <ul>
        {% for location in localizacoes %}
            <li>
                <a href="{{ url_for('location', idt=location['id']) }}">
                    {{ location['name'] }} - {{ location['type'] }} - {{ location['dimension'] }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('locations', page=page-1) }}">Anterior</a>
        {% endif %}
        <span>Página {{ page }}</span>
        {% if localizacoes|length == 20 %}
            <a href="{{ url_for('locations', page=page+1) }}">Próxima</a>
        {% endif %}
    </div>

</body>
</html>