{% extends "layout.html" %}
{% block content %}
    <h1>Localizações</h1>
    
    <ul>
        {% for location in localizacoes %}
            <li>
                <a href="{{ url_for('location', idt=location['id']) }}">
                    {{ location['name'] }} - {{ location['type'] }} - {{ location['dimension'] }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('locations', page=page-1) }}">Anterior</a>
        {% endif %}
        <span>Página {{ page }}</span>
        {% if localizacoes|length == 20 %}
            <a href="{{ url_for('locations', page=page+1) }}">Próxima</a>
        {% endif %}
    </div>

    {% endblock %} 