<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #030311; opacity: 0.8;">
        <div class="container-fluid">
          <a class="navbar-brand text-info"  href="/">Rick & Morty</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-info"   aria-current="page" href="/personagens">Personagens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-info"  href="/localizacoes">Localizações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-info" href="/episodios">Episódios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
